@media (max-width: 600px) {
	.navbar {
		.container {
			.navbar-brand {
				font-size: 16px;
			}

			.navbar-toggler {
				position: absolute;
				top: -2px;
				scale: 0.8;
			}
		}
	}

	.home {
		.hero-img {
			.hero-text {
				text-align: center;
				z-index: 2;
				color: white;

				h2 {
					text-transform: uppercase;
					font-size: 22px;
					font-family: 'Nosifer', serif;
					font-weight: 700;
				}

				span {
					font-size: 22px;
					font-family: 'Nosifer', serif;
				}
			}
		}
	}

	.rooms {
		.container {
			.card-group {
				.card {
					width: 95%;
					margin: 25px auto;
					border: none;
					overflow: hidden;
					background: none;
					.card-body {
						background: white;
					}
				}
			}
		}
	}

	.opinions {
		.container-mobile {
			.card-group {
				.card {
					height: 450px;
					position: relative;

					.note {
						position: absolute;
						bottom: 10px;
						right: 15px;
					}

					.mobile-img {
						height: 50%;
						object-position: top;
					}

					&:nth-child(3) {
						.mobile-img {
							object-position: 30% 20%;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 400px) {
	.prices {
		.container {
			.title {
				font-size: 15px;
			}

			.price-box {
				p {
					font-size: 13px;
				}

				button {
					font-size: 11px;
				}
			}
		}
	}
}
